html {overflow: hidden;}
body {margin: 0;}

.header {
    position: absolute;
    width: 100vw;
    height: 50px;
    top: 0;
    background-color: rgba(66, 60, 60, 0.781);
    z-index: 1000;
}

* {
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}